/* Guess that number */

body {
	text-align: center;
	font-family: 'Gentium Basic', serif;
}


.clear-both {
	clear: both;
}


#title {
	font-size: 8em;
	font-family: 'Yellowtail', cursive;
	text-align: center;
	margin: 0;
	padding: 0;
}

/* A field to send messages to the user. */
#message {
	height: 30px;
	font-size: 2.5em;
	padding-top: 50px;
}

/* Set up the game by picking what numbers to play with. */
#game-setup {
	background-color:
}

#game-setup p {
	font-size: 1.3em;
}

#game-setup input {
	font-size: 1.3em;
	height: 40px;
}

#game-setup input#guess_number {
	width: 90px;
	margin-right: 10px;
}




/* Actual game board styles. */

#game-board {
    cursor: pointer;
    text-align: center;
	margin: 0 auto;
}


#game-board div.some-number {
    background-color: white;
    border: 1px solid black;
    width: 55px;
    padding: 3px 0;
    float: left;
}

#game-board div.wrong {
    background-color: #ccc;
}

#game-board div.right {
    color: white;
    background-color: red;
}
