/* Guess that number */

body {
	text-align: center;
	font-family: 'Gentium Basic', serif;
}


.clear-both {
	clear: both;
}


#title {
	font-size: 8em;
	font-family: 'Yellowtail', cursive;
	text-align: center;
	margin: 0;
	padding: 0;
}

/* Set up the game by picking what numbers to play with. */
#game-setup {
	z-index: 2;
}

#game-setup p {
	font-size: 1.3em;
}

#game-setup input {
	font-size: 1.3em;
	height: 40px;
}

#game-setup input#guess_number {
	width: 90px;
	margin-right: 10px;
}

#how-many {
	font-size: 2.5em;
}

/* Actual game board styles. */

#board-wrapper {
	position: absolute;
	top: 0;
}

#game-board {
    cursor: pointer;
    text-align: center;
	margin: 0 auto;
	width: 100%;
}

#game-board div.some-number {
    border: 1px solid black;
	font-size: 2em;
	height: 50px;
    width: 85px;
    padding: 3px 0;
	display: inline-block;
}

#game-board div.wrong {
    background-color: #ccc;
}

#game-board div.right {
    color: white;
    background-color: red;
}

/* A field to send messages to the user. */
#message {
	height: 30px;
	font-size: 2.5em;
	padding-bottom: 20px;
}
